*

!.gitignore
!/wp-content/
!/wp-content/themes/
!wp-content/themes/*/
!/wp-content/themes/*/**
/wp-content/themes/twentythirteen/*
/wp-content/themes/twentyfourteen/*
/wp-content/themes/twentyfifteen/*
